__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
.env
.env.local
db.sqlite3
.git
.gitignore
README.md
*.md
.DS_Store
*.sqlite3
*.log
node_modules
.coverage
htmlcov/
.pytest_cache/
staticfiles/