@import 'tailwindcss';
@import 'tw-animate-css';
@plugin 'tailwindcss-motion';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 1rem;

  --background: hsl(48 50% 96.1%);
  --foreground: hsl(0 2% 10%);
  --card: hsl(48 50% 96.1%);
  --card-foreground: hsl(0 2% 10%);
  --popover: hsl(48 50% 96.1%);
  --popover-foreground: hsl(0 2% 10%);
  --primary: hsl(90 45.1% 40%);
  --primary-foreground: hsl(48 45.5% 95.7%);
  --secondary: hsl(90.8 42.5% 82.9%);
  --secondary-foreground: hsl(90.6 43.6% 22.9%);
  --muted: hsl(45 14.3% 89%);
  --muted-foreground: hsl(40 7.9% 62.9%);
  --accent: hsl(92.7 12.6% 82.9%);
  --accent-foreground: hsl(90.9 28.2% 22.9%);
  --selection: hsl(90 40.1% 60%);
  --success: hsl(131 54% 45%);
  --success-foreground: hsl(48 50% 96.1%);
  --destructive: hsl(0 94% 65%);
  --destructive-foreground: hsl(0 91% 96%);
  --warning: hsl(38 92% 50%);
  --warning-foreground: hsl(48 96% 89%);
  --warning: hsl(42 96% 50%);
  --warning-foreground: hsl(41 94% 94%);
  --info: hsl(188 83% 37%);
  --info-foreground: hsl(186 56% 93%);
  --border: hsl(42.9 7.9% 82.5%);
  --input: hsl(42.9 7.9% 82.5%);
  --ring: hsl(90 45.1% 40%);

  --sidebar-background: hsl(48 50% 96.1%);
  --sidebar-foreground: hsl(0 2% 10%);
  --sidebar-primary: hsl(90 45.1% 40%);
  --sidebar-primary-foreground: hsl(48 45.5% 95.7%);
  --sidebar-accent: hsl(92.7 12.6% 82.9%);
  --sidebar-accent-foreground: hsl(90.9 28.2% 22.9%);
  --sidebar-border: hsl(42.9 7.9% 82.5%);
  --sidebar-ring: hsl(90 45.1% 40%);
  --sidebar: hsl(0 0% 98%);
}

.dark {
  --background: hsl(0 2% 10%);
  --foreground: hsl(48 50% 96.1%);
  --card: hsl(0 2% 10%);
  --card-foreground: hsl(48 50% 96.1%);
  --popover: hsl(0 2% 10%);
  --popover-foreground: hsl(48 50% 96.1%);
  --primary: hsl(90 45.1% 47.8%);
  --primary-foreground: hsl(0 0% 9.8%);
  --secondary: hsl(90 43.9% 16.1%);
  --secondary-foreground: hsl(90.8 42.5% 82.9%);
  --muted: hsl(30 3% 12.9%);
  --muted-foreground: hsl(40 3.1% 54.1%);
  --accent: hsl(92.7 12.1% 17.8%);
  --accent-foreground: hsl(85.7 10.4% 86.9%);
  --selection: hsl(90 40.1% 37.8%);
  --success: hsl(131 54% 35%);
  --success-foreground: hsl(131 81% 7%);
  --destructive: hsl(0 90% 63%);
  --destructive-foreground: hsl(0 27% 24%);
  --warning: hsl(48 100% 70%);
  --warning-foreground: hsl(42 45% 21%);
  --info: hsl(187 74% 65%);
  --info-foreground: hsl(187 34% 20%);
  --border: hsl(40 6.5% 18%);
  --input: hsl(40 6.5% 18%);
  --ring: hsl(90 45.1% 47.8%);

  --sidebar-background: hsl(0 2% 10%);
  --sidebar-foreground: hsl(48 50% 96.1%);
  --sidebar-primary: hsl(90 45.1% 47.8%);
  --sidebar-primary-foreground: hsl(0 0% 9.8%);
  --sidebar-accent: hsl(92.7 12.1% 17.8%);
  --sidebar-accent-foreground: hsl(85.7 10.4% 86.9%);
  --sidebar-border: hsl(40 6.5% 18%);
  --sidebar-ring: hsl(90 45.1% 47.8%);
  --sidebar: hsl(240 5.9% 10%);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-pop-subtle: pop-subtle 0.2s ease-in-out;
  --animate-shake-x: shakeX 0.2s ease-in-out;
  --animate-flip-x: flipX 0.5s ease-in-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes pop-subtle {
    0%,
    100% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    80% {
      transform: scale(1.05);
    }
  }
  @keyframes shakeX {
    0%,
    100% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(4px);
    }
    75% {
      transform: translateX(-3px);
    }
  }
  @keyframes flipX {
    0% {
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground overscroll-none;
    text-rendering: optimizeLegibility;
  }

  /* Custom scrollbar styling. */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  ::selection {
    color: var(--foreground);
    background: var(--selection);
  }

  .borderless {
    @apply border-transparent! outline-hidden! shadow-none! ring-0! ring-offset-0!;
  }
}

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
